@import url(basic.css);

#my-courses td:nth-child(2) {
    width: 100px; /* 96px = width of "Преглеждания" */
}
#my-courses td:nth-child(3) {
    width: 65px; /* 63px = width of "Записани" */
}

#my-courses td:nth-child(2),
#my-courses td:nth-child(3) {
    text-align: center;
}