/* for bootstrap-redable */
body {
    background-color: #fff;
}

.container-body {
    margin-top: 60px;
}

.students-list {
    border: 1px solid #ddd;
}
.students-list thead {
    background-color: #efefef;
}

@media screen and (min-width: 768px) {
    .students-list thead tr td:nth-child(3n+0), 
    .students-list tbody tr td:nth-child(3n+0) {
        display: table-cell;
    }
}
@media screen and (max-width: 767px) {
    .students-list thead tr td:nth-child(3n+0), 
    .students-list tbody tr td:nth-child(3n+0) {
        display: none;
    }
} 