@import url(basic.css);

#chart-container {
    height: 400px;
    margin: 0 auto;
}

/* media queries */
@media all and (min-width: 768px) {
    .students-list td:nth-child(3n+0) {
        display: table-cell;
    }
}
@media all and (max-width: 767px) {
    .students-list td:nth-child(3n+0) {
        display: none;
    }
} 