@import url(basic.css);

.accordion-heading {
    background: #efefef url(../img/info.png) 10px 5px no-repeat;
    padding-left: 30px;
}
.accordion-heading a {
    color: #333;
}
#queued .container {
    display: inline-table;
}
.id-search input, .id-search select {
    display: inline-block;
    width: auto;
}
#queued .container {
    margin-bottom: 120px;
    margin-left: 30px;
}

/* media queries */
@media all and (min-width: 768px) {
    .id-list thead tr td:nth-child(2n):nth-child(3n), 
    .id-list tbody tr td:nth-child(2n):nth-child(3n) {
        display: table-cell;
    }
}
@media all and (max-width: 767px)  {
    .id-list td:nth-child(3n) {
        display: none;
    }
    #queued .id-list td:nth-child(3n) {
        display: table-cell;
    }
    .id-search .input-prepend {
        display: block;
        margin: 5px 0;
    }
    #queued .container {
        margin-left: auto;
    }
    #queued .container:not(:last-child) {
        margin-bottom: 0;
    }
    
}
@media all and (min-width: 500px) and (max-width: 767px)  {
    .id-list td:nth-child(4n) {
        display: none;
    }
}
@media all and (max-width: 499px)  {
    .id-list td:nth-child(3n),
    .id-list td:nth-child(2n) {
        display: none;
    }
    #queued .id-list td:nth-child(3n),
    #queued .id-list td:nth-child(2n) {
        display: table-cell;
    }
}