<!-- intro -->
<div class="page-header">
    <h4>Записване за избираеми дисциплини</h4>
    <p>Записването на избираеми дисциплини се осъществява по време на <em>Кампания за записване на избираеми дисциплини</em>, която се стартира от администратора на СУСИ4 и продължава 4 седмици.</p>
    <p><strong>Срок:</strong> 21 април 2013, 23:59</p>
    <div class="accordion" id="campaign-info">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#campaign-info" href="#collapse-campaign-info">Технология на записване на избираеми дисциплини</a>
            </div>
            <div id="collapse-campaign-info" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis lorem ut neque porta luctus. Etiam rhoncus elit vitae metus ultricies semper et faucibus libero. Nam congue gravida mi, ut cursus dolor accumsan viverra. Sed aliquam dolor at purus sodales at eleifend nisi imperdiet. Quisque vel arcu urna. Vestibulum facilisis ligula quis sem convallis mattis. Vivamus consectetur, enim dignissim vestibulum dignissim, elit risus suscipit arcu, non scelerisque justo dui nec nisl. Vestibulum laoreet, dui bibendum sagittis vehicula, leo mi luctus augue, non dignissim enim risus quis mauris. Vestibulum sit amet laoreet mi. Donec in tellus diam. Ut ac odio mi. Etiam vel sagittis dolor. Morbi nisl eros, tristique in tempor ullamcorper, sollicitudin eget augue.</p>
                    <p>Phasellus ac placerat urna. In vestibulum, ante nec gravida suscipit, turpis turpis accumsan eros, et pulvinar purus elit in orci. Sed rutrum egestas nulla at laoreet. Nunc lacinia turpis ut diam mattis consequat. Sed nisi ligula, tempor id tincidunt interdum, iaculis eget neque. Fusce bibendum mauris non mi pellentesque vitae elementum dolor pharetra. Aliquam posuere venenatis orci in accumsan. In hac habitasse platea dictumst. Pellentesque molestie, tortor ut dapibus iaculis, metus mi porttitor justo, et mollis purus nunc in tortor. In hac habitasse platea dictumst. Ut ut malesuada turpis. Duis vulputate orci leo, vel lacinia leo.</p>
                </div>
            </div>
        </div>
    </div>
</div>

