<!-- intro -->
<div class="page-header">
    <h4>Записване за избираеми дисциплини</h4>
    <p>Записването на избираеми дисциплини се осъществява по време на <em>Кампания за записване на избираеми дисциплини</em>, която се стартира от администратора на СУСИ4 и продължава 4 седмици.</p>
    <p><strong>Срок:</strong> 21 април 2013, 23:59</p>
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Технология на записване на избираеми дисциплини</a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>Технологията за записване на избираеми дисциплини е следната:<br />
                        Записването на избираеми дисциплини (ИД) се осъществява по време на Кампания за записване на избираеми дисциплини, която се стартира от администратора на СУСИ4 и има два последователни етапа. Обявяват се три дати: начална дата на първи етап, начална дата на втори етап (първият етап приключва в 24:00 часа на предната дата) и крайна дата.</p>
                    <p>През I етап (който може да започне далеч преди началото на семестъра, за който се записват избираеми дисциплини) студентът записва дисциплини с един от два или три възможни приоритета: твърдо решил, колебая се и (евентуално) малко вероятно. Тези приоритети трябва да отразяват неговата предварителна нагласа за дисциплините, които иска да посещава през семестъра. По време на първия етап студентът може да прави неограничени промени в избора си – да записва, да отписва, отново да записва, да сменя приоритетите. В избраните дисциплини по време на първия етап трябва да се включат всички дисциплини, които има вероятност да бъдат избрани окончателно. В никакъв случай, обаче, този избор не трябва да е "разточителен", тъй като на негова основа се взимат административни решения. Желателно е студентите да записват със статус "твърдо решил" тези дисциплини, които имат намерение да посещават, а със статус "колебая се" – тези дисциплини, които избират като резерва. СЛЕД КРАЯ НА I ЕТАП НЯМА ВЪЗМОЖНОСТ ЗА ЗАПИСВАНЕ НА НОВИ ИЗБИРАЕМИ ДИСЦИПЛИНИ!</p>
                    <p>По време на II етап студентът има достъп само до дисциплините, които е избрал по време на първия етап (независимо от приоритета, с който са избрани), като може да променя приоритета на всяка отделна дисциплина или да я отпише, но не може да записва нови. През този етап студентът трябва да приведе приоритета на дисциплините, за които е взел окончателно решение да "слуша" през семестъра, в състояние твърдо решил (ако не е направил това още на първия етап). </p>
                </div>
            </div>
        </div>
    </div>
</div>

