<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Изборни дисциплини - Вход</title>
        <link href="vendor/css/bootstrap-readable.min.css" rel="stylesheet">
        <link href="vendor/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/login.css" rel="stylesheet">
    </head>
    <body>
        <div class="container container-body">
            <form class="form-signin" action="login" method="post">
                <% if (typeof(error) !== 'undefined') { %>
                  <%= error %>
                <% } %>
                <h2 class="form-signin-heading">Вход в системата</h2>
                <!--                <input type="text" class="input-block-level" placeholder="Имейл адрес" name="email"> /-->
                <input type="text" name="username" placeholder="Потребителско име" class="input-block-level">
                <input type="password" class="input-block-level" placeholder="Парола" name="password">
                <button class="btn btn-large btn-primary" type="submit">Вход</button>
            </form>
        </div>

        <script src="vendor/js/jquery.js" type="text/javascript"></script>
        <script src="vendor/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>
