<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Изборни дисциплини ФМИ - Влез</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
  </head>
  <body>
    <% if (typeof(error) !== 'undefined') { %>
      <%= error %>
    <% } %>
    <form action="login" method="post">
      <p>
        <input type="text" name="username" placeholder="Потребителско име">
      </p>
      <p>
        <input type="password" name="password" placeholder="Парола">
      </p>
      <input type="submit">
    </form>
  </body>
</html>
