<!DOCTYPE html>
<html>
    <head>
        <title>Democracy FMI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet"b>
        <link href="/css/teacher-course.css" rel="stylesheet">
    </head>
    <body>
        <!-- Nav -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Democracy FMI</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                          <li class="inactive"><a href="/">
                              Списък с дисциплини
                          </a></li>
                          <li class="active"><a href="/teacher/courses">
                              Моите курсове
                          </a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Професор <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Съобщения</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Настройки</li>
                                    <li><a href="#">Смяна на парола</a></li>
                                </ul>
                            </li>
                            <li class="divider-vertical"></li>
                            <li><a href="#" title="Изход от профила">Изход</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container-body">

            <!--breadcrumb -->
            <ul class="breadcrumb">
                <li><a href="#">Моите курсове</a> <span class="divider">/</span></li>
                <li class="active">Анализ 1</li>
            </ul>

            <!-- chart -->
            <div id="chart-container"></div>

            <!-- list of my courses -->
            <table class="list table table-hover" id="students-list">
                <thead>
                    <tr>
                        <td>ФН</td>
                        <td>Име</td>
                        <td>Дата на записване</td>
                        <td>Действие</td>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < students.length; i += 1) { %>
                        <tr class="success">
                          <td><%= ~~(Math.random() * 1000 + 80000) %></td>
                          <td><%= students[i].name %></td>
                          <td>2 април 2013, 9:55</td>
                          <td>
                            <button class="btn btn-danger" type="button">Отпиши</button>
                          </td>
                        </tr>
                    <% } %>
                    <tr class="warning">
                        <td>30111</td>
                        <td>Петър Петров</td>
                        <td>2 април 2013, 10:23</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Избери действие
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Запиши</a></li>
                                    <li><a href="#">Отпиши</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <footer>
                <p>&copy; HackFMI 2013</p>
            </footer>

        </div> <!-- container-body -->

        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/highcharts/highcharts.js"></script>
        <script src="/js/highcharts/modules/exporting.js"></script>
        <script src="/js/teacher-course-chart.js"></script>
    </body>
</html>
