<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Записване за курс</h3>
</div>


<div class="modal-body">
    <p>Записване за курса <strong>Линукс системно администриране</strong></p>

    <!-- reCAPTCHA -->
    <div id="recaptcha"></div>
</div>
<div class="modal-footer">
  <span class="enrollResult" style="display: none; margin-right: 20px;"></span>
  <a href="#" class="btn" data-dismiss="modal">Затвори</a>
  <a href="#" class="btn btn-success enroll" data-id="<%= _id %>">Запиши</a>
</div>
