@import url(basic.css);

#chart-container {
    height: 400px;
    margin: 0 auto;
}

#students-list td:nth-child(1) {
    width: 65px; /* 60px = maybe width of faculty number */
    text-align: center;
}
#students-list td:nth-child(3) {
    width: 200px; /* RANDpx = width of regdate */
}

/* students-list */
#students-list td:last-child {
    width: 155px; /* 150px = size of dropdown menu */
    text-align: center;
}

/* media queries */
@media all and (min-width: 768px) {
    #students-list td:nth-child(3) {
        display: table-cell;
    }
}
@media all and (max-width: 767px) {
    #students-list td:nth-child(3) {
        display: none;
    }
} 
