<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Линукс системно администриране</h3>
</div>
<div class="modal-body">
    <p><strong>Лектор: Н. Недялков, М. Маринов</strong></p>
    <h6>Кратка анотация на дисциплината</h6>
    <p>Предназначението на курса е да запознае сутудентите с основите на
        администрирането на сървъри, които работят с операционната система Линукс и
        приложния софтуер към нея. Линукс е модерна и относително нова операционна
        система и като такава има много части, които остават непознати за студентите. Целта
        на курса е те да се запознаят с основите на инсталиране, конфигуриране и поддръжка
        на съвременните Линукс дистрибуции, както и в дълбочина да научат начина на работа
        на тези системи. В курса ще бъдат демонстрирани и обяснени дистрибуциите RedHat
        Enterprise Linux 4, Fedora Core 6, Debian, Ubuntu и Slackware. Материалът е придружен
        от много демонстрации на конфигурации, използвани в реална среда.</p>
    <h6>Предварителни изисквания към студентите</h6>
    <p>Препоръчително (но не задължително) е студентите, желаещи да посещават този
        курс, да са преминали курса по Операционни системи.</p>
    <h6>Форма на проверка на знанията и уменията и начин на формиране на оценката по дисциплината</h6>
    <p>Изпитът ще се състои от два теста и задължителен проект. Тестовете
        ще включват по 30 въпроса върху материала, обясняван по време на
        занятията. Всеки въпрос от теста ще има точно 1 верен отговор
        измежду изброените. При вярно отбелязан отговор студентът печели 1
        точка за дадения въпрос, а в противен случай не печели точка.
        Съгласно тази система за оценяване от един тест могат да се спечелят
        до 30 точки, а от двата теста общо - до 60 точки.
        2. Проектът е задължителен, като ще се даде възможност на студента да
        избира между софтуерна разработка и писмена разработка по
        предварително зададена тема. Темите най-вероятно няма да съвпадат
        с преподавани по време на курса и ще изискват допълнителна и по-
        подробна информация относно поставения проблем. Проектът носи 40
        точки.</p>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Затвори</button>
</div>

