<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Записване за курс</h3>
</div>


<div class="modal-body">
    <p>Записване за курса <strong>Линукс системно администриране</strong></p>

    <!-- reCAPTCHA -->
    <div id="firstReCAPTCHA"></div>
</div>
<div class="modal-footer">
    <a href="#" class="btn">Отказ</a>
    <a href="#" class="btn btn-success">Запиши</a>
</div>
